---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout titre="Accueil">
	<section class="home-hero">
		<h1>Accueil</h1>
		<p>Bienvenue sur la page d'accueil.</p>
	</section>
</Layout>
