<header class="site-header">
    <div class="header-inner">
        <a class="brand" href="/">Site test</a>
        <nav class="header-nav" aria-label="Navigation principale">
            <a href="/">Accueil</a>
            <a href="/offres">Offres</a>
        </nav>
    </div>
</header>
